/*Página de Estilos*/
body{
  background-color: blue;

}

header{
  background-color: white;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px;
  border-radius: 25xp;
}

p{
  text-align: center;
  font-size: 25px;
}

